# ./conf/ip_ban.conf
# syntax 
# allow IPMASK
# allow LOGIN
# deny IPMASK html_template
# if deny the html_template will be displayed
# html_template allows multilang, hostalias support
# Looking from UP fo DOWN, DOWN rule overrides UP rule.
# Used LAST_MATCH
# in our case Mazar have access from anywhere

deny all ip_denied_not_tomsk
allow 212.192
allow 195.208
allow 213.210
allow 217.106
deny 217.106.32 ip_denied_payment
deny 217.106.33 ip_denied_payment
deny 217.106.34 ip_denied_payment
deny 217.106.35 ip_denied_payment
deny 213.59 ip_denied_payment
allow 217.18
deny 80.89

deny 213.210 ip_denied_payment

#deny 192.168.0.1 ip_denied_payment

allow_login Mazar
allow_login Lena
allow_login ip
